.price {
  box-sizing: border-box;

  &__city-name {
    color: rgba(255, 102, 0, 0.897);
    font-size: 3rem;
    margin: 1rem;

  }

  &__text {
    padding: 1rem;
    margin: 1rem;
    font-size: 2rem;
    font-weight: 600;
    background-color: rgba(255, 102, 0, 0.5);
    border-radius: 4px;
    color: white;
    animation: progres 4s linear;
  }
}

@keyframes progres {
  0% {
    width: 0%;
  }

  25% {
    width: 50%;
  }

  50% {
    width: 75%;
  }

  75% {
    width: 85%;
  }

  100% {
    width: 100%;
  }
}

;