*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: "Helvetica";
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}